<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="w-full h-full bg-zinc-900 p-4">
    <nav class="w-full min-h-12  mb-4 flex   flex-col text-white">
        <h1 class="text-2xl ml-2 mb-1 tracking-tighter">All users</h1>
         <a class=" px-2 py-1 rounded-lg text-blue-600" href="/">Go to home page</a>
    </nav>
    <div class="users flex gap-4">
        <% if(users.length > 0) { %>
            <% users.forEach(function(user){ %>
                <div class=" bg-zinc-800 rounded  w-64 p-4 text-zinc-200">
                    <div class="card w-full rounded h-48 bg-slate-900">
                        <img class="w-full h-full object-cover " src="<%= user.image %>" alt="">
                    </div>
                    <h3 class="text-xl mt-2 tracking-tighter"><%= user.name %></h3>
                    <h5 class="text-sm text-zinc-500"><%= user.email %></h5>
                    <div class="flex justify-between mt-3">
                        <a class="text-blue-600 tracking-tighter text-md" href="/edit/<%= user._id %>">Edit</a>
                        <a class=" text-md tracking-tighter  text-red-500 " href="/delete/<%= user._id %>">Delete user</a>
                    </div>
                </div>
        
             <%  }) %>
        
      <%   } else { %>
                <h3 class="text-md ml-2 text-zinc-300">Nothing to See........</h3>

    <%  } %>

       


    </div>
   </div>
</body>
</html>